body {
	display: flex;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	font-family: "Poliphili Display";
	font-size: 3.5em;
	line-height: 1.25;
	hyphens: auto;
	text-align: center;
}

#wrap {
	width: 80vmin;
	min-width: 715px;
	height: 95vmin;
	min-height: 900px;
	margin: auto auto;
	overflow: hidden;
}

span::before, span::after {
	content: "";
	width: 50%;
	height: 100%;
}

span::before {
	shape-outside: polygon(0% 0%, 70% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 70% 100%, 0% 100%);
	float: left;
}

span::after {
	shape-outside: polygon(100% 0%, 30% 100%, 100% 100%);
	clip-path: polygon(100% 0%, 30% 100%, 100% 100%);
	float: right;
}

#text {
	height: fit-content;
	margin-top: 5%;
}

#text > div {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

#deco {
	margin-bottom: -0.25em;
	line-height: 1em;
}

a {
	text-decoration: none;
}

a:active {
	color: black;
}

.red:link {
	color: rgb(255, 51, 0);
}

.red:visited {
	color: rgb(153, 0, 0);
}

.red:hover {
	color: rgb(255, 102, 102);
}

.green:link {
	color: rgb(0, 153, 51);
}

.green:visited {
	color: rgb(51, 102, 51);
}

.green:hover {
	color: rgb(102, 153, 102);
}

.gold:link {
	color: rgb(204, 153, 0);
}

.gold:visited {
	color: rgb(153, 102, 0);
}

.gold:hover {
	color: rgb(204, 153, 102);
}

.turquoise:link {
	color: rgb(0, 204, 204);
}

.turquoise:visited {
	color: rgb(0, 153, 153);
}

.turquoise:hover {
	color: rgb(102, 204, 204);
}

@font-face {
	font-family: "Poliphili Display";
	font-weight: 400;
	src: url("articles/fonts/PoliphiliDisplay.otf") format("opentype");
}