body {
	display: flex;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: "Poliphili Display";
	font-size: 50px;
	line-height: 1.25;
	hyphens: auto;
}

.main {
	width: 700px;
	height: 810px;
	margin: auto auto;
}

.left {
	shape-outside: polygon(0% 0%, 70% 100%, 0% 100%);
	clip-path: polygon(0% 00%, 70% 100%, 0% 100%);
	height: 100%;
	width: 50%;
	float: left;
}

.right {
	shape-outside: polygon(100% 0%, 30% 100%, 100% 100%);
	clip-path: polygon(100% 00%, 30% 100%, 100% 100%);
	height: 100%;
	width: 50%;
	float: right;
}

p {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

.deco {
	margin-bottom: -0.25em;
}

a {
	text-decoration: none;
}

a:active {
	color: black;
}

.red:link {
	color: rgb(255, 51, 0);
}

.red:visited {
	color: rgb(153, 0, 0);
}

.red:hover {
	color: rgb(255, 102, 102);
}

.green:link {
	color: rgb(0, 153, 51);
}

.green:visited {
	color: rgb(51, 102, 51);
}

.green:hover {
	color: rgb(102, 153, 102);;
}

.gold:link {
	color: rgb(204, 153, 0);
}

.gold:visited {
	color: rgb(153, 102, 0);
}

.gold:hover {
	color: rgb(204, 153, 102);
}

.turquoise:link {
	color: rgb(0, 204, 204);
}

.turquoise:visited {
	color: rgb(0, 153, 153);
}

.turquoise:hover {
	color: rgb(102, 204, 204);
}

@font-face {
	font-family: "Poliphili Display";
	font-weight: 400;
	src: url("articles/fonts/PoliphiliDisplay.otf") format("opentype");
}