body {
	font-family:"Caslon Pro", serif;
	font-size: 26.5px;
	font-weight: 400;
	line-height: 1.75em;
	margin: 7% auto;
	padding: 10px 20px 10px 20px;
	max-width: 900px;
}

header {
	text-align: center;
}

footer {
	margin-top: 4em;
}

h1 {
	font-family: "Irvin Heading", serif;
	font-size: 43px;
	font-weight: 400;
	line-height: 1em;
	margin-top: 1em;
	text-align: center;
}

h2 {
	font-family: "Graphik Medium",sans-serif;
	font-size: 22px;
	line-height:2em;

}

.author {
	font-family: "Graphik Medium",sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}

.tableofContents {
	font-family: "Irvin Heading";
	font-size: 18px;
	line-height: 3em;
	margin-top: 1.5em;
	text-align: center;
	color: rgba(219, 51, 52, 1);
}

ul {
	font-family: "Graphik Medium", sans-serif;
	font-size: 20px;
	line-height: 1.75em;
	list-style: none;
	text-align: center;
	margin-bottom: 1.5em;
}

img {
	max-width: 100%;
	margin-top: 1em;
}


.logo{
	display: block;
	margin: 0 auto;
	scale: 130%;
}

hr {
	border: 0;
	height: 1px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background: rgba(229, 229, 229, 1);
}

a {
	color: black;
}

q, cite {
	quotes: "“" "”" "‘" "’";
	font-style: normal;
}

q::before, cite::before {
	content: open-quote;
}

q::after, cite::after {
	content: close-quote;
}

.word {
	font-weight: 600;
	text-decoration: none;
	color: darkblue;
}

.person {
	text-decoration: none;
	color: rgba(219, 51, 52, 1);
}

.place {
	text-decoration: none;
	color: green;
}

.has-dropcap::first-letter {
	float: left;
    font-size: 90px;
    margin-bottom: -0.2em;
    padding:0.1em 0.06em 0 0;
}

.small-caps {
	font-variant: small-caps;
}

.date {
	font-family: "Graphik Medium", sans-serif;
	font-size: 80%;
	font-weight: 400;
	margin-left: 1em;
}

img:not(.logo) + p {
	font-family: "Graphik Medium", sans-serif;
	font-size: 16px;
	margin-top: -0.3em;
	color: gray;
}

@font-face {
    font-family: "Irvin Heading";
    font-weight: 400;
    src: url("fonts/Irvin-Heading.woff2") format("woff2");
    }

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    src: url("fonts/Caslon-Pro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/Caslon-Pro-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Medium";
    font-weight: 500;
    src: url("fonts/Graphik-Medium.woff2") format("woff2");
}