.grid-container {
	display: grid;
	grid-template-areas:
	'header header'
	'main index'
	'footer index';
	grid-template-columns: 2fr 1fr;
}

.header {
	grid-area: header;
}

.index {
	grid-area: index;
	font-family: "Graphik Medium", sans-serif;
	margin: 10% auto;
}

.main {
	grid-area: main;
	margin: 1em auto;
	max-width: 721.25px;
}

.footer {
	grid-area: footer;
	margin: 1em auto;
	max-width: 721.25px;
	margin-top: 2em;
}

body {
	font-family: "Caslon Pro", serif;
	line-height: 1.5em;
	font-size: 21px;
	margin: 7% 5% 10% 5%;
}

h1 {
	font-family: "Irvin Heading", serif;
	line-height: 1em;
	font-size: 43px;
	font-weight: 400;
	text-align: center;
	margin-top: 1em;
}

h2 {
	font-family: "Graphik Medium",sans-serif;
	line-height: 1.5em;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2em;
}

h3 {
	font-family: "Graphik Medium",sans-serif;
	line-height:1.7em;
	font-size: 17px;
	margin-top: 1.2em;
}

h4 {
	font-family: "Irvin Heading";
	line-height: 1.5em;
	font-size: 15px;
	font-weight: normal;
	color: rgba(219, 51, 52, 1);
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	background: rgba(229, 229, 229, 1);
	height: 1px;
	margin-top: 1em;
}

ul {
	list-style: none;
	line-height: 1.5em;
	font-size: 17px;
}

a {
	color: black;
}

.word {
	font-weight: 600;
	text-decoration: none;
	color: darkblue;
}

.person {
	text-decoration: none;
	color: rgba(219, 51, 52, 1);
}

.place {
	text-decoration: none;
	color: green;
}

.has-dropcap::first-letter {
	float: left;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: -0.2em;
    padding: 0 0.05em 0 0;
}

.small-caps {
	font-variant: small-caps;
}

.date {
	font-family: "Graphik Medium", sans-serif;
	font-size: 80%;
	font-weight: 400;
	margin-left: 1em;
}

.caption {
	font-family: "Graphik Medium", sans-serif;
	font-size: 11.8px;
	margin-top: -0.1em;
	color: lightgray;
}

.logo{
	display: block;
	margin: 0 auto;
	scale: 130%;
}

@font-face {
    font-family: "Irvin Heading";
    font-weight: 400;
    src: url("fonts/Irvin-Heading.woff2") format("woff2");
    }

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    src: url("fonts/Caslon-Pro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/Caslon-Pro-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Medium";
    font-weight: 500;
    src: url("fonts/Graphik-Medium.woff2") format("woff2");
}