:root {
	--nav-height: 3.8125rem;
	--nav-padding-x: .625rem;
	--nav-padding-y: .5rem;
	--logo-flex: 0 1 140px;
	--drawer-size: 2.1em;
	--border: 5px;
	--blue: 51, 51, 153;
	--green: 0, 153, 51;
	--red: 204, 51, 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Chronicle Display", Georgia, Times, serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 0 auto 6em;
	line-break: auto;
	text-align: left;
}

/* Navigation bar */

nav {
	position:fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 0px;
}

.navWrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	height: var(--nav-height);
	padding: var(--nav-padding-y) var(--nav-padding-x);
	background: rgb(255, 255, 255);
	border-bottom: var(--border) solid;
	z-index: 10;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--drawer-size);
	height: var(--drawer-size);
	border: solid 1px;
	border-radius: 50%;
	transition: color 0.2s ease-in-out;
}

.drawer {
	margin-right: 0.5rem;
}

.chevron {
	display: none;
	position: fixed;
	width: 2.4em;
	height: 2.4em;
	bottom: calc(3 * var(--nav-padding-y));
	right: calc(2 * var(--nav-padding-x));
	background: rgb(247, 90, 56);
	justify-self: end;
	color: rgb(0, 0, 0, 0);
	fill: rgb(255, 255, 255);
	box-shadow: 0 4px 9px -4px rgb(247, 90, 56);
	transition: all 0.2s ease-in-out;
	animation: fadeIn 0.2s ease-out;
}

.show {
	display: flex;
}

@keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

.chevron:hover, .chevron:active {
	background: rgb(230, 80, 48);
	color: transparent;
	box-shadow: 0 4px 9px -4px rgb(230, 80, 48);
}

.drawer:hover {
	color: rgb(247, 90, 56);
	fill: rgb(247, 90, 56);
}

.drawer svg,  .chevron svg {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: fill .2s ease-in-out;
}

.chevron svg {
	rotate: 270deg;
}

.closeMenu {
	display: none;
}

.isOpen .openMenu {
	display: none;
}

.isOpen .closeMenu {
	display: block;
}

.isOpen ~ .tocWrapper {
	transform: translate(0px);
}

.logoWrapper {
	flex: var(--logo-flex);
	transform: translateY(3px);
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--nav-height);
	overflow: hidden;
}

.logo {
	height: 100%;
	width: 100%;
	transition: fill .2s ease-in-out;
}

.logoWrapper:hover .logo {
	fill: rgb(247, 90, 56);
}

.tocWrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	transform: translate(-300px);
	width: 300px;
	background: rgb(0, 0, 0, 1);
	z-index: -1;
	transition: transform .5s ease-out;
}

.toc {
	margin-top: var(--nav-height);
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	text-align: left;
	list-style: none;
	padding: 20px;
	height: 70%;
}

.toc a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: color .2s ease-in-out;
}

.toc a:hover, .toc a:active, .toc a:focus {
	color: rgb(247, 90, 56);
}

li {
	transition: color .2s ease-in-out;
}

.active li {
	color: rgb(247, 90, 56);
}

.toc a:last-child {
	display: none;
}

/* Article header */

article {
	margin: 0 auto;
	padding: var(--nav-height) 20px;
	max-width: 665px;
}

header {
	margin-top: var(--nav-height);
	padding-top: 40px;
}

.uppercase {
	font-family: "Titillium Web", sans-serif;
	font-size: 14px;
	font-weight:700;
	line-height: 1.3em;
	text-transform: uppercase;
}

h1 {
	font-family: "Chronicle Display", serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -0.1rem;
	margin-bottom: 20px;
}

h1 + * {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 20px;
}

.infoWrapper {
	display: flex;
	flex-flow: column nowrap;
	text-align: left;
	border-top: var(--border) solid;
	margin-top: 30px;
}

.row {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid rgb(229,229,229);
}

.label {
	width: 65px;
}

/* Article body */

h2 {
	font-family: "Titillium Web", sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.5em;
	margin-top: 2em;
	scroll-margin-top: calc(var(--nav-height) + 1em);
}

.has-dropcap::first-letter {
	font-family: "Chronicle Display Condensed";
	float: left;
    font-size: 90px;
    line-height: 1em;
    font-weight: normal;
    margin-bottom:-0.2em;
    padding:0.35em 0.2em 0.3em 0;
}

img:not(.logo) + p {
	font-family: "Titillium Web", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height:1.5em;
	margin-top: -0.1em;
	margin-bottom: 40px;
}

img {
	max-width: 100%;
}

article img {
	margin-top: 2em;
}

a  {
	color: rgb(0, 0, 0);
	text-decoration-thickness: 2px;
	transition: all .2s ease-in-out;
}

article a:hover, article a:active, article a:focus {
	color: rgb(247, 90, 56);
}

a[href*="dictionary"], a[href*="philosophy"] {
	text-decoration: none;
	font-weight: 600;
	color: rgb(var(--blue));
}

a[href*="wikipedia"] {
	color: rgb(var(--red));
}

a[href*="booking"] {
	text-decoration: none;
	color: rgb(var(--green));
}

q, footer cite {
	quotes: "“" "”" "‘" "’";
	font-style: normal;
}

q::before, footer cite::before {
	content: open-quote;
}

q::after, footer cite::after {
	content: close-quote;
}

/* Article footer */

footer {
	margin-top: 3em;
	border-top: 1px solid rgb(229,229,229);
	margin-bottom: 5em;
}

h3 {
	font-family: "Titillium Web", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.25em;
	padding: 0.5em 0;
	border-top: var(--border) solid rgb(0,0,0);
	border-bottom: 1px solid rgb(229,229,229);
	margin-block-end: 0em;
}

footer p {
	margin-block-start: 0.5em;
	margin-bottom: 2em;
}

/* Responsive design for tablet */

@media (min-width: 767px) {
	:root {
		--nav-height: 4.9rem;
		--nav-padding-x: .625rem;
		--nav-padding-y: 1.25rem;
		--logo-flex: 0 1 255px;
	}
}

/* Responsive design for laptop */

@media (min-width: 1200px) {

	body {
		font-size: 21px;
	}

	nav {
		position: static;
		height: var(--nav-height);
		background: rgb(255, 255, 255);
		border-bottom: var(--border) solid;
	}

	.navWrapper {
		max-width: 1500px;
		border-bottom: none;
		background: none;
		margin: 0 auto;
		padding: 0 var(--nav-height);
	}

	.drawer {
		display: none;
	}

	article {
		max-width: 1500px;
		margin: 0 auto;
		padding: var(--nav-height); 60px;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-wrap: wrap;
	}

	.infoWrapper{
		margin-bottom: 10em;
	}

	.tocWrapper {
		position: sticky;
		top: 20em;
		bottom: unset;
		left: unset;
		transform: none;
		transition: none;
		z-index: 1;
		height: 70vh;
		background: white;
		border-top: var(--border) solid;
		margin-top: 0;
		width: 100%;
	}

	.toc {
		margin-top: 0;
		display: flex;
		margin-left: auto;
		width: auto;
		text-align: left;
		height: 80vh;
		flex-flow: column;
		justify-content: space-evenly;
	}

	.toc li {
		line-height: 3em;
		width: 100%;
	}

	.toc a {
		color: black;
		width: inherit;
		height: 100%;
		padding: 15px auto;
	}

	.toc a:last-child {
		display: block;
	}

	header {
		flex: 1 0 16em;
		margin: 30px;
		height: 100%;
		position: sticky;
		top: -33em;
	}

	.wrapper {
		flex: 4 0 30em;
	}

	main {
		margin: 30px;
		padding-bottom: 1em;
	}

	footer {
		padding-top: 1em;
		margin: 30px;
	}

	footer p {
	font-size: 18px;
	line-height: 1.25em;
	}

	h2 {
	scroll-margin-top: 1em;
	}

	.show {
		display: none;
	}
}

 /* Fonts */

@font-face {
    font-family: "Titillium Web";
    font-weight: 700;
    src: url("fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    src: url("fonts/ChronicleDisp-Roman.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/ChronicleDisp-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    src: url("fonts/ChronicleDisp-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/ChronicleDisp-SemiboldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    src: url("fonts/ChronicleDisp-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/ChronicleDisp-BoldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display Condensed";
    font-weight: 400;
    src: url("fonts/ChronicleDispCond-Roman.otf") format("opentype");
}