body {
	font-family: "Chronicle Display", serif;
	line-height: 1.5em;
	font-size: 22px;
	margin: 0 auto;
	padding: 10px 20px 10px 20px;
	max-width: 750px;
}

footer {
	margin-top: 3em;
	margin-bottom: 5em;
}

h1 {
	font-family: "Chronicle Display", serif;
	font-size: 47px;
	line-height: 1.25em;
	font-weight: 600;
}

h2 {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 2.5em;
}

h3 {
	font-family: "Titillium Web", sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 2em;
}


h4 {
	font-family: "Titillium Web", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 0.5em;
}

.uppercase {
	font-family: "Titillium Web", sans-serif;
	text-transform: uppercase;
	line-height: 1em;
	font-size: 16.5px;
	font-weight:700;
}

.caption {
	font-family: "Titillium Web", sans-serif;
	line-height:1.5em;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 3em;
}

img {
	max-width: 100%;
	margin-top: 2em;
}

.logo{
	display: block;
	margin-left: -20em;
	scale: 36%;
}
hr {
	border: 0;
	background:rgba(229,229,229,1);
	height: 1.5px;
}

.thick {
	height: 8px;
	background: black;
}

.perform {
	margin-bottom: 4em;
}

table {
	width: 100%;
	text-align: left;
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

th, td {
	padding: 1.4em 0 1.4em 0;
	border-bottom: 1.5px solid rgba(229,229,229,1);
}

th {
	border-top: 8px solid;
}

p.has-dropcap::first-letter {
	font-family: "Chronicle Display Condensed";
	float: left;
    font-size: 90px;
    line-height: 1em;
    font-weight: normal;
    margin-bottom:-0.2em;
    padding:0.35em 0.2em 0.3em 0;
}

a {
	color: black;
	text-decoration-thickness: 2px;
}

.word {
	text-decoration: none;
	font-weight: 600;
	color: darkblue;
}

.person {
	color: rgba(219, 51, 52, 1);
}

.place {
	text-decoration: none;
	color: green;
}

@font-face {
    font-family: "Titillium Web";
    font-weight: 700;
    src: url("fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    src: url("fonts/ChronicleDisp-Roman.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/ChronicleDisp-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    src: url("fonts/ChronicleDisp-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/ChronicleDisp-SemiboldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    src: url("fonts/ChronicleDisp-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/ChronicleDisp-BoldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display Condensed";
    font-weight: 400;
    src: url("fonts/ChronicleDispCond-Roman.otf") format("opentype");
}