body {
	font-family: "Poliphili", serif;
	line-height: 1.5em;
	font-size: 22px;
	margin: 2% auto;
	max-width: 750px;
}

h1 {
	font-family: "Poliphili Display", serif;
	font-size: 47px;
    font-style: normal;
	line-height: 1em;
	font-weight: 400;
}

.required > :first-child::after {
    content: " *";
    position: relative;
    top: -0.8em;
    font-size: 50%;
    color: red;
}

form {
    margin-bottom: 2em;
}

fieldset {
    margin-bottom: 1em;
}

legend {
    font-style: italic;
}

div {
    display: inline-flex;
}

input, select {
    margin: 5px 10px;
}

input[value="other"]:not(:checked) ~ input {
    visibility:hidden;
}

input[value="other"]:checked ~ input {
    display: inline-flex;
}

label[for="description"] {
    display: block;
}

textarea {
  resize: none;
  border: none;
  width: 100%;
}

@font-face {
font-family: "Poliphili Display";
font-weight: 400;
src: url("fonts/PoliphiliDisplay.otf") format("opentype");
}

@font-face {
font-family: "Poliphili Display";
font-weight: 700;
src: url("fonts/PoliphiliDisplay-Bold.otf") format("opentype");
}

@font-face {
font-family: "Poliphili Display";
font-weight: 400;
font-style: italic;
src: url("fonts/PoliphiliDisplay-Italic.otf") format("opentype");
}

@font-face {
font-family: "Poliphili Display";
font-weight: 700;
font-style: italic;
src: url("fonts/PoliphiliDisplay-BoldItalic.otf") format("opentype");
}

@font-face {
font-family: "Poliphili";
font-weight: 400;
src: url("fonts/Poliphili.otf") format("opentype");
}

@font-face {
font-family: "Poliphili";
font-weight: 700;
src: url("fonts/Poliphili-Bold.otf") format("opentype");
}

@font-face {
font-family: "Poliphili";
font-weight: 400;
font-style: italic;
src: url("fonts/Poliphili-Italic.otf") format("opentype");
}

@font-face {
font-family: "Poliphili";
font-weight: 700;
font-style: italic;
src: url("fonts/Poliphili-BoldItalic.otf") format("opentype");
}